html,
body {
  background-color: rgba(22, 23, 26, 0.9) !important;
  color: #fff !important;
}
article,
button,
div,
em,
figure,
form,
h1,
h2,
h3,
h4,
h5,
header,
input,
li,
main,
nav,
p,
pre,
section,
tbody,
th,
tr,
td,
table,
ul,
ytd-browse {
  background-color: rgba(31, 32, 34, 0.9) !important;
  color: #fff !important;
}
code,
blockquote {
  background-color: rgba(45, 45, 46, 0.5) !important;
}
span,
yt-formatted-string {
  color: #fff !important;
}
a {
  background-color: rgba(31, 32, 34, 0.9) !important;
  color: #3e74e7 !important;
}
cite {
  color: #777777 !important;
}
